* @defenseunicorns/uds-core @defenseunicorns/tech-leads

/src/content/docs/registry/* @defenseunicorns/uds-experience
/src/assets/* @defenseunicorns/uds-experience 

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
# NOTE: No E to catch LICENSE and LICENSING
/LICENS* @jeff-mccoy @austenbryan
