* @defenseunicorns/uds-core

/src/content/docs/registry/* @defenseunicorns/uds-registry

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
# NOTE: No E to catch LICENSE and LICENSING
/LICENS* @jeff-mccoy @austenbryan
