---
import type { Props } from "@astrojs/starlight/props";
import Default from '@astrojs/starlight/components/Footer.astro';
import CookieConsent from "./CookieConsent.astro";
const isHomepage = Astro.props.slug == '';
---

<Default {...Astro.props}><slot /></Default>

{ !isHomepage ? (
    <br/>
    <div class="flex flex-col gap-4">
        <div>
            <h1>
                Feedback
            </h1>
            Was this page helpful?
        </div>
        <div class="flex flex-row gap-4">
            <feedback-button
                    project="60mqhfppvi"
                    button-position="bottom-center"
                    modal-position="sidebar-right"
                    hide-icon="true"
                    rating="1"
                    button-style="dark">
                <div class="flex gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                    Yes
                </div>
            </feedback-button>

            <feedback-button
                    project="60mqhfppvi"
                    button-position="bottom-center"
                    modal-position="sidebar-right"
                    hide-icon="true"
                    rating="0"
                    button-style="dark">
                <div class="flex gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>                No
                </div>
            </feedback-button>
        </div>
    </div> ) : (
    <></>
    )}

<div class="flex justify-center gap-8">
    <CookieConsent/>
    <a class="text-gray-800 hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 no-underline hover:underline" href="https://www.defenseunicorns.com/privacypolicy" target="_blank">Privacy Policy</a>
</div>
