name: Trigger Netlify Build
on:
  schedule:
    # Runs at 00:00 UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch:
  # Allows you to run this workflow manually from the Actions tab

jobs:
  build_prod:
    name: Scheduled Prod Build
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} ${{ secrets.NETLIFY_PROD_BUILD_HOOK }}
